<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="layout">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div layout:fragment="content" class="row">
    <ul>
        <li th:each="course : ${listCourse}">
            <p th:text="${course.getStartDate()}
            + ' - ' + ${course.getLectureName()}
            + ' - ' + ${course.getPlace()}"></p>
        </li>
    </ul>
</div>
</body>
</html>